@import '/main.css';
.Form{
	width:80%;height:100%;
	float:left;
	border-radius:10px 0 0 10px;
}
.footer{font-size: 8px;}

.gray{
	background: #000;
	background-size:100%;
	opacity: 1;
}
@keyframes animatedBackground {
from{background-position:0 0;}
to	{background-position:calc(100% - 100vw) 0;}
}