*{
	text-align: center;
	color: #FFF;
}
body
{
	background: url(bg.jpg);
	background-size: 100% 100%;
    background-attachment: fixed;
}
#body{
	width: 75%;
	margin: 2% auto;
	margin-bottom: 0;
	box-shadow:0 0 16px #333,0 0 16px #000;
	opacity: 0.95;
}

#footer{font-size: 8px;}
.maxheight{height:100%;}
