
h2{color: #AAA;}
div a{display: block;}
html{
	width:100%;height:100%;
	text-align:center;
	color:#AAA;
	cursor:default;
}
.maxheight{height:100%;}
.gray{
	background: #000;
	/* background-size:100%; */
	/* opacity: 0.8; */
}
.menu{
	color: #EEE;
	font-size: 16px;
	cursor: default;
}
.submenu{
	color: #AAA;
	font-size: 14px;
}
.submenu a:hover{
	background: #888;
}
.layer{
	position:relative;
	background-color: #222;
}
.vertical{width:1px;height:100%;left: 80%;}
.horizontal{width:100%;height:1px;}

img{
	width:70%;
	height:auto;
	margin-top:3%;
}
