*{
	text-align: center;
	color: #AAA;
	margin:0;
}
h2{color: #AAA;}
div a{display: block;}
#body{
	background: url(RES/BJ2.jpg);
	/* background-size: 100% 100%; */
	background-repeat: no-repeat;
	background-position: center;
	background-color: #000;
	width: 90%;height:92%;
	margin: 2% auto;
	box-shadow:0 0 16px #333,0 0 16px #000;
	border-radius: 10px 10px 10px 10px;
	opacity: 0.8;
}
#page{
	width:80%;
	float: left;
	border-radius: 10px 0 0 10px;
}
#index{
	width:20%;
	float: right;
	border-radius: 0 10px 10px 0;
}

#footer{font-size: 8px;}

.maxheight{height:100%;}
.gray{
	background: #000;
	/* background-size:100%; */
	/* opacity: 0.8; */
}
.menu{
	color: #EEE;
	font-size: 16px;
	cursor: default;
}
.submenu{
	color: #AAA;
	font-size: 14px;
}
.submenu a:hover{
	background: #888;
}
.layer{
	position:relative;
	background-color: #222;
}
.vertical{width:1px;height:100%;left: 80%;}
.horizontal{width:100%;height:1px;}

img{
	width:70%;
	height:auto;
	margin-top:3%;
}
